body {
    margin: 0;
    padding: 20px;
}

.grid {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 940px;
    min-width: 940px;
    border: 1px solid red;
    padding: 0;
}

.gridRow {
    display:flex;
    margin: 0;
    padding: 0;
}

.gridElement {
    background-color: blue;
    margin: 0;
    padding: 0;
}
.gridElementActive {
    background-color: lightgreen;
}